*{
    box-sizing: border-box;
    padding: 0;

}




/* ****HEADER****  */

/*     nav      */

.first-nav{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content:space-between;
    justify-items:center ;
    gap: auto;
    margin: auto;
    margin-top: 30px;
 
    
    height: 85px;
   
}
.four-menu{
    list-style: none;
}
.logo{
    width: 135px;
    height: 82px;
}
.four-menu{
    display: flex;
    gap: 48px;
}
.home{
    color: rgba(37, 36, 50, 1);
    font-size: 16px;
    font-weight: bold;
}
.shop-aboutus{
    color: rgba(137, 135, 161, 1);
}

/*      second-nav    */ 

.always-fresh{
    width: 517px;
    height: 89;
    margin: none;
    font-weight: bold;
    font-size: 65px;
   padding-bottom: 0;
   margin: 0%;

}
.fresh-flower{
     color: rgba(233, 90, 8, 1);
}
.fst-p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    padding-top: 0;
    margin: 0%;
}

.second-nav{
   
    max-width: 1140px;
    max-height: 461px;
    display:flex;
    align-items:last baseline;
    justify-content:space-between;
    justify-items:center ;
    gap: auto;
    margin: auto;
    margin-top:109px;
}
.hero-flw{
    margin: 0px;
}
.second-nav-1{
    column-gap: none;
    
}
/*   main   */
main{
    max-width: 1140px;
    max-height: 1187px;
    justify-items: center;
    margin: 120px auto 0 auto;
}
.main-1{
    justify-items: center;
   
}
.nav-main{
    column-gap: none;
}
.our-plant{
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    justify-items: center;
    padding-bottom: 0;
    margin: 0 auto;
}
.our{
    color: rgba(233, 90, 8, 1);
}
.snd-p{
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 16px;
    margin: 0 auto 44px auto;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    
}
/*  flowers-carts  */

.flowers-containers{
    width: 270px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.flowers-containers img{
    width: 100%;
    height: auto;
}
.flower-info{
    margin-top: 10px;
}
.flowers-containers .flower-info button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    cursor: pointer;
}
.lily{
    font-size: 22px;
    color: rgba(17, 17, 17, 1);
    font-weight: 400;

}
.usd{
    font-weight: bold;
    font-size: 22px;
}
.main-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
}

.flowers-lover{
    font-weight: bold;
    font-size: 50px;
    justify-items: left;
    
}
.plants-lover-list .lovers-list{
    margin: 20px auto;
}
.plants-lover{
    width: 1140px;
    height: 597px;
    display: flex;
    gap: 60px;
    align-items: center ;
    text-align: justify;
    justify-content: space-between;
    margin: 210px auto 133px auto;
}
.plants-lover img{
    height: 100%;
}
.lovers-list{
    width: 540px;
    height: 108px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}


/*   latest section   */

.latest-section{
    max-width: 1140px;
}

 .flws-background{
    text-align: center;
 }

 .shop-now-1{
    background-color: none;
 }

 .absolute{
    position: absolute;
 }

 .flws-shopping{
    top: 65px;
    left: 50px;
    text-align: center;
 }

.flws-shopping h2{
    width: 270px;
    height: 27px;
   
      color: white;
      font-weight: bold;
      font-size: 20px;
}

.left-top{
    width: 367px;
    height: 200px;
    align-items: center;
    justify-items: center;
    justify-content: center;
     background-color: rgb(85, 81, 81);
    background-image: url(../B12A02-Responsive-Flowers-main/assets/deal-bloom.png);
   
    border-radius: 14px;
}
.down-text{
    padding: 60px;
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.shop-1, .shop-2, .shop-3{
    text-decoration: underline;

}

.left-down{
     width: 367px;
    height: 200px;
    align-items: center;
    justify-items: center;
    justify-content: center;
     background-color: rgb(85, 81, 81);
    background-image: url(../B12A02-Responsive-Flowers-main/assets/deal-ana.png);
    margin-top: 30px;
    border-radius: 14px;
}
.left{
    gap: 38px;
}



.shop-3{
    font-size: 28px;
    font-weight: 600;
    width: 138px;
    height: 20px;
}

.right .zabo{
    font-size: 40px;
    font-weight: bold;
}
.right{
    width: 754px;
    height: 424px;
    border-radius: 14px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url(../B12A02-Responsive-Flowers-main/assets/deal-zabo.png)

}

.right-down-tex{
    padding: 150px;
    color: white;
     align-items: center;
    justify-items: center;
    justify-content: center;
}

.collab{
    display: flex;
    gap: 28px;
    margin-top: 70px;
}